ConsumerSoap/src/main/mule/ws-consumer-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="26b8f9ba-a704-4771-96ec-7eb2e1e31856" basePath="calc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="21939edd-debb-44df-ba5b-f039de926029" >
		<wsc:connection wsdlLocation="wsdl\calc.wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="ws-consumer-demoFlow" doc:id="4da9af94-114f-4010-a125-c312b2aee5b3" >
		<http:listener doc:name="Listener" doc:id="96f4a347-e2ca-4383-9a2e-fbdf61664f35" config-ref="HTTP_Listener_config" path="addition"/>
		<logger level="INFO" doc:name="Logger" doc:id="9bf8da13-9661-45a1-b3e5-224e6eefb8a4" message="Started consumer demo flow and received payload is : #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="49406131-59cb-4a37-9b94-bdf37b9ea218" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.firstNo,
		ns0#intB: payload.secondNo
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:id="e2a7739b-aecb-4776-8858-70a886e878ab" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="af0cd0ff-21b2-4b5e-bf01-9f3552e300a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://tempuri.org/
---
{
	result: payload.body.ns0#AddResponse.ns0#AddResult default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
